{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid mt-5" style="margin-bottom:60px;margin-left:250px;">

    <div class="row">
        <div class="col-sm-4">
            <img src="{{p.image.url}}" height="370px" width="370px">
        </div>
        <div class="col-sm-5">
            <h4>{{p.name}}</h4>
            <h5 class="mt-4">{{p.price}}</h5>
            <p>{{p.desc}}</p>

            {% if user.is_superuser == False %}

            {% if p.stock <= 0 %}
            <h4>Out Of Stock!</h4>
            {% else %}
           <h4><a href="{% url 'cart:addtocart' p.name %}" class="btn btn-secondary">ADD TO CART</a></h4>
            {% endif %}

            {% else %}

            {% if p.stock <= 0 %}
            <h4>out of stock</h4>
            <h4><a href="{% url 'admin:index' %}" class="btn btn-secondary mt-4">ADD STOCK</a></h4>
            {% else %}
            <h4>product in stock</h4>
            <h4><a href="{% url 'admin:index' %}" class="btn btn-secondary mt-4">ADD STOCK</a></h4>

            {% endif %}
            {% endif %}
        </div>
        </div>
</div>
</div>
{% endblock %}

